---
import favicon from './_assets/favicon/favicon.svg'
import Html from "../../layouts/Html.astro"
import Splash from './_components/Splash/index.astro'
import Header from './_components/Header/index.astro'
import Transition from './_components/Transition/index.astro'
import Navigation from './_components/Navigation/index.astro'
import Hero from './_components/Hero/index.astro'
import About from './_components/About/index.astro'
import Projects from './_components/Projects/index.astro'
import Contact from './_components/Contact/index.astro'
import ProjectDetail from './_components/ProjectDetail/index.astro'
import './_styles/fonts.scss'
import './_styles/index.scss'
import { C_Projects } from '../../constants/projects'
---

<Html favicon_url={favicon.src}>
	<Fragment slot='link'>
		{C_Projects.all.map(v => <Fragment>
			{v.images.map(image =>
				<link rel="prefetch" href={image[0]} as="image">
			)}
		</Fragment>)}
		{[
			'/assets/fonts/Barlow/Barlow-Thin.ttf',
			'/assets/fonts/Barlow/Barlow-ThinItalic.ttf',
			'/assets/fonts/Barlow/Barlow-ExtraLight.ttf',
			'/assets/fonts/Barlow/Barlow-ExtraLightItalic.ttf',
			'/assets/fonts/Barlow/Barlow-Light.ttf',
			'/assets/fonts/Barlow/Barlow-LightItalic.ttf',
			'/assets/fonts/Barlow/Barlow-Regular.ttf',
			'/assets/fonts/Barlow/Barlow-Italic.ttf',
			'/assets/fonts/Barlow/Barlow-Medium.ttf',
			'/assets/fonts/Barlow/Barlow-MediumItalic.ttf',
			'/assets/fonts/Barlow/Barlow-SemiBold.ttf',
			'/assets/fonts/Barlow/Barlow-SemiBoldItalic.ttf',
			'/assets/fonts/Barlow/Barlow-Bold.ttf',
			'/assets/fonts/Barlow/Barlow-BoldItalic.ttf',
			'/assets/fonts/Barlow/Barlow-ExtraBold.ttf',
			'/assets/fonts/Barlow/Barlow-ExtraBoldItalic.ttf',
			'/assets/fonts/Barlow/Barlow-Black.ttf',
			'/assets/fonts/Barlow/Barlow-BlackItalic.ttf'
		].map(v =>
			<link rel="preload" href={v} as="font" crossorigin="anonymous">
		)}
	</Fragment>
	<Splash />
	<Transition/>
	<Header/>
	<Navigation/>
	<ProjectDetail/>

	<Hero/>
	<About/>
	<Projects/>
	<Contact/>

	<div style="min-height:4rem"></div>
	<script src="./_scripts/index.ts"/>
</Html>