---
import favicon from './_assets/favicon/favicon.svg'
import Html from "../../layouts/Html.astro"
import Splash from './_components/Splash/index.astro'
import './_styles/fonts.scss'
import './_styles/index.scss'
---

<Html favicon_url={favicon.src}>
	<Splash />
	<h1>MUHAMMAD SULAIS</h1>
	<p>Nostrud deserunt tempor et dolore est aliquip labore ea sit. Lorem proident in laboris ipsum nisi sint. Do nulla ut exercitation veniam eu elit fugiat in aute non magna irure non fugiat. Est consequat excepteur nostrud fugiat pariatur ea ea adipisicing eu id. Sint incididunt velit officia pariatur laborum fugiat consectetur do aliqua dolore dolore deserunt. Deserunt irure qui minim tempor voluptate labore amet et quis ipsum non sunt.</p>
	<script src="./_scripts/index.ts"/>
</Html>