@use '../../_styles/_units.scss' as u;

.iconLeft {
	left: u.Rem(8px);
	top: u.Rem(8px);
	min-width: u.Rem(24px);
	max-width: u.Rem(24px);
	max-height: u.Rem(24px);
	min-height: u.Rem(24px);
	background-color: #202020;
	clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.iconRight {
	right: u.Rem(8px);
	top: u.Rem(8px);
	width: u.Rem(24px);
}

.idleMode {
	right: u.Rem(24px + 18px);
	top: u.Rem(12px);
}

.profileName {
	left: u.Rem(12px);
	top: u.Rem(24px + 16px);
	writing-mode: vertical-lr;
	rotate: 180deg;
}

.stopwatchPageScroll {
	left: u.Rem(24px + 18px);
	top: u.Rem(12px);
}

.topInfo {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: var(--z-index-top-info);

	& * {
		font-size: u.Rem(14px);
		font-weight: bold;
		white-space: nowrap;
	}

	> * {
		position: absolute;
	}

	> button {
		background-color: transparent;
		padding: 0;
		border: none;
		cursor: pointer;
		transition-duration: .25s;

		&:hover {
			color: #ffc400;
		}
	}
}

.version {
	right: u.Rem(12px);
	top: u.Rem(24px + 16px);
	writing-mode: vertical-lr;
}