:root {
	font-family: 'Barlow', sans-serif;

	--z-index-header: 10;
	--z-index-navigation: 11;
	--z-index-project-detail: 13;
	--z-index-splash: 14;
	--z-index-image-fullscreen: 15;
	--z-index-transition: 16;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	transition-timing-function: cubic-bezier(.25, 0, 0, 1);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
}