@use '../../_styles/_units.scss' as u;

.content {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: u.Rem(8px);
	overflow: hidden;
	gap: 10vw;
	z-index: 1;

	@media (max-width: u.Rem(1000px)) {
		gap: 0;
		flex-direction: column;
	}

	> [data-css-progress] {
		position: relative;
		font-size: 25vmin;
		font-weight: bold;
		width: 60vmin;
		text-align: center;
	}

	> [data-css-about] {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		font-size: calc(25vmin / 2);
		line-height: calc(25vmin / 2);
		font-weight: 900;
		text-align: end;
		color: #ffff00;

		> span {
			line-height: 1;
			font-size: max(0.3em, 1rem);
			font-weight: normal;
		}

		> svg {
			line-height: 1;
			margin-bottom: u.Rem(16px);
			width: 8vmin;
			height: 8vmin;
		}
	}

	& [data-css-triangle] {
		position: absolute;
		width: 10vmin;
		height: 8.5vmin;
		background-color: #ffff00;
		left: 20vmin;
		bottom: 27vmin;
		clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
		animation: arrow .8s infinite ease-in-out;
	}
}

.decorator {
	position: fixed;
	bottom: 0px;
	left: -4px;
	width: calc(100% + 8px);
	z-index: 0;
	overflow: hidden;

	& path {
		transition-duration: .5s;
	}
}

.footer {
	padding: max(1vmin, u.Rem(8px));
	list-style: none;
	display: flex;
	align-items: flex-end;
	z-index: 1;

	> li {
		text-align: end;
		font-size: max(2vmin, 1rem);
	}
}

.progressbar {
	--c-progress: 0%;
	width: var(--c-progress);
	height: max(1vmin, u.Rem(8px));
	background-color: #ffff00;
	transition-duration: .25s;
}

.splash {
	background-color: #202020;
	background-image: url(../../_assets/images/background-satelite.svg);
	background-repeat: repeat;
	background-size: 10vmin;
	min-width: 100%;
	height: 100dvh;
	border: none;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0px;
	top: 0px;

	* {
		color: #fff;
	}
}

@keyframes arrow {
	from {
		opacity: 0;
		translate: 0 -5vmin;
	}
	to {
		opacity: 1;
		translate: 0 0;
	}
}

.waitIndicator {
	white-space: nowrap;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: u.Rem(16px) 0;
	z-index: 1;
	justify-content: center;
	flex-direction: column;
	gap: max(3vmin, u.Rem(8px));

	> button {
		--v1: #{max(1vmin, u.Rem(8px))};
		background-color: #fff;
		padding: var(--v1) max(1.5vmin, u.Rem(12px)) var(--v1) var(--v1);
		border: none;
		font-weight: bold;
		font-size: max(2vmin, 1rem);
		box-shadow: 0 u.Rem(8px) u.Rem(16px) rgb(0 0 0 / .5);
		cursor: not-allowed;
		transition-duration: .25s;

		> span {
			color: #202020;
			align-items: center;
			gap: var(--v1);
			display: flex;

			> svg {
				width: max(4vmin, u.Rem(24px));
				height: max(4vmin, u.Rem(24px));
			}
		}

		> [data-css-state-2] {
			display: none;
		}

		&:not(:disabled) {
			outline: max(.5vmin, u.Rem(2px)) solid #ffff00;
			animation: outline-outside .8s infinite ease-in-out;
			background-color: #ffff00;
			cursor: pointer;

			&:hover {
				scale: 1.1;
			}

			&:active {
				scale: 1;
			}

			> [data-css-state-2] {
				display: flex;
			}

			> [data-css-state-1] {
				display: none;
			}
		}
	}

	> label {
		align-items: center;
		display: flex;
		cursor: pointer;
		transition-duration: .25s;
		font-weight: 600;
		user-select: none;
		font-size: max(2vmin, 1rem);

		&:hover {
			scale: 1.1;
		}

		&:active {
			scale: 1;
		}

		> input {
			appearance: none;

			&:checked {
				~ [data-css-state-1] {
					display: none;
				}
				~ [data-css-state-2] {
					display: block;
				}
			}
		}

		> svg {
			margin-right: max(1vmin, u.Rem(8px));
			width: max(4vmin, u.Rem(24px));
			height: max(4vmin, u.Rem(24px));
		}

		> [data-css-state-2] {
			display: none;
		}
	}
}

@keyframes outline-outside {
	from {
		outline-offset: 0.25vmin;
		outline-color: #ffff0000;
	}
	to {
		outline-offset: 2vmin;
		outline-color: #ffff00;
	}
}