---
import * as SharedIds from '../_scripts/shared/ids.enum.js'
import * as Styles from '../_styles/styles.enum.js'
---

<footer id={SharedIds.Footer} class={Styles.Footer}>
	<p>&copy; {new Date().getFullYear()} Muhammad Sulais. All right reserved.</p>
</footer>