.home-actions {
	display: flex;
	gap: 8px;
}

.home-skills {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	padding: 32px 0px;
}

#home {
	> small {
		font-size: 16px;
		margin-top: 16px;
	}

	> h1 {
		font-size: 64px;
		background: linear-gradient(80.85deg, #00DB69 16.02%, #97CC00 94.91%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		margin-bottom: 16px;
	}

	> p {
		font-size: 24px;
		font-weight: bold;
		max-width: min(100%, 700px);
	}
}