[data-page-target="#"] {
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	> h1 {
		font-size: 64px;
		max-width: min(100%, 840px);
		text-wrap: balance;

		@media (max-width: 740px) {
			font-size: 8dvw;
		}
	}

	> p {
		font-size: 32px;
		margin-top: 16px;

		@media (max-width: 740px) {
			font-size: max(16px, 4dvw);
		}
	}

	> button {
		margin-top: 32px;
		border: none;
		width: fit-content;
		background-color: rgb(var(--g-color-accent));
		color: rgb(var(--g-color-on-accent));
		border: 1px solid transparent;
		font-weight: 500;
		border-radius: 4px;
		padding: 8px 16px;
		font-size: 14px;
		transition-duration: .2s;
		position: relative;
		overflow: hidden;

		@media (hover: hover) {
			&:hover {
				cursor: pointer;

				> [data-state='1'] {
					top: calc(1em + 8px);
				}

				> [data-state='2'] {
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		&:focus-visible {
			> [data-state='1'] {
				top: calc(1em + 8px);
			}

			> [data-state='2'] {
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&:active {
			color: rgb(var(--g-color-on-surface));
			background-color: rgba(var(--g-color-accent), 0.32);
			border-color: rgb(var(--g-color-accent));

			> [data-state='1'] {
				top: calc(1em + 8px);
			}

			> [data-state='2'] {
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		> [data-state='1'] {
			position: relative;
			transition-duration: .2s;
			top: 0px;
		}

		> [data-state='2'] {
			position: absolute;
			left: 50%;
			top: 0;
			transform: translate(-50%, -100%);
			transition-duration: .2s;
		}
	}
}