[data-page-target="#works"] {
	padding: 32px;

	> h2 {
		font-size: 64px;
		max-width: min(100%, 840px);
		text-wrap: balance;

		@media (max-width: 740px) {
			font-size: 8dvw;
		}
	}

	> p {
		font-size: 32px;
		margin-top: 16px;

		@media (max-width: 740px) {
			font-size: max(16px, 4dvw);
		}
	}
}

.mp-works-portfolio {
	display: flex;
	margin-top: 32px;

	@media (max-width: 700px) {
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;
	}

	> div {
		border: none;
		outline: 2px solid transparent;
		outline-offset: 0px;
		border-radius: 4px;
		position: relative;
		width: 540px;
		height: 360px;
		transition-duration: .2s;

		@media (max-width: 700px) {
			width: 100%;
		}

		&:not(:nth-child(4),:last-child) {
			margin-right: 16px;

			@media (max-width: 700px) {
				margin-right: 0px;
			}
		}

		&[data-none] {
			background-color: rgb(var(--g-color-surface));
			box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
		}

		&:not([data-none]){
			@media (hover: hover) {
				&:hover {
					outline-offset: 4px;
					cursor: pointer;
					outline-color: rgb(var(--g-color-accent));

					&:first-child > p {
						bottom: 8px;
						opacity: 1;
						scale: 1;
					}

					@media (max-width: 700px) {
						> p {
							bottom: 8px;
							opacity: 1;
							scale: 1;
						}
					}
				}
			}

			&:focus-visible {
				outline-offset: 4px;
				cursor: pointer;
				outline-color: rgb(var(--g-color-accent));

				&:first-child > p {
					bottom: 8px;
					opacity: 1;
					scale: 1;
				}

				@media (max-width: 700px) {
					> p {
						bottom: 8px;
						opacity: 1;
						scale: 1;
					}
				}
			}

			&:active {
				outline-offset: 4px;
				outline-color: rgb(var(--g-color-accent));

				> img {
					scale: 95%;
				}

				> h3 {
					opacity: 0;
				}

				&:first-child > p {
					bottom: 8px;
					opacity: 0;
					scale: 1;
				}

				@media (max-width: 700px) {
					> p {
						bottom: 8px;
						opacity: 0;
						scale: 1;
					}
				}
			}
		}

		> img {
			transition-duration: .2s;
			border-radius: 4px;
			object-fit: cover;
			width: 100%;
			height: 100%;
			box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
		}

		> h3 {
			position: absolute;
			top: 8px;
			left: 8px;
			max-width: calc(100% - 16px);
			padding: .2em .4em;
			border-radius: 4px;
			color: rgb(var(--g-color-on-surface-dark));
			border: 1px solid rgba(var(--g-color-on-surface-dark), .08);
			background-color: rgba(var(--g-color-surface-dark), .32);
			backdrop-filter: blur(32px);
			font-weight: normal;
			font-size: 16px;
			overflow: hidden;
			white-space: nowrap;
			transition-duration: .2s;
		}

		> p {
			position: absolute;
			opacity: 0;
			bottom: 0px;
			left: 8px;
			scale: .85;
			max-width: calc(100% - 16px);
			padding: .2em .4em;
			border-radius: 4px;
			color: rgb(var(--g-color-on-surface-dark));
			border: 1px solid rgba(var(--g-color-on-surface-dark), .08);
			background-color: rgba(var(--g-color-surface-dark), .32);
			backdrop-filter: blur(32px);
			font-weight: normal;
			font-size: 16px;
			overflow: hidden;
			white-space: nowrap;
			transition-duration: .2s;
		}
	}

	> :nth-child(-n + 4):not(:first-child) {
		width: 192px;

		@media (max-width: 700px) {
			width: 100%;
		}
	}

	> :nth-child(n + 5) {
		display: none;

		@media (max-width: 700px) {
			display: block;
		}
	}
}

#mp-works-dialog {
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	max-width: min(720px, calc(100% - 64px));
	width: 720px;
	border-radius: 8px;
	max-height: calc(100dvh - 64px);
	outline: none;
	background-color: rgb(var(--g-color-surface));
	border: 1px solid rgba(var(--g-color-on-surface), .12);
	position: fixed;
	box-shadow: 0 16px 24px rgba(0, 0, 0, .25);
	overflow: hidden;
	transition-duration: .3s;

	&:not([open]) {
		top: -100%;
		visibility: hidden;
	}

	> div {
		position: relative;
		max-height: inherit;
		max-width: 100%;
		overflow: auto;
		width: 100%;
		border-radius: inherit;
		padding: 32px;
	}

	& h2 {
		font-size: 32px;
		font-weight: normal;
		margin-top: 16px;
		border-top: 1px solid rgba(var(--g-color-on-surface), .32);
	}

	& ul {
		list-style: none;
		margin-top: 8px;

		> li {
			display: inline-block;
			margin-right: 4px;
			font-size: 14px;
			border: 1px solid rgb(var(--g-color-accent));
			border-radius: 4px;
			padding: 2px 6px;
		}
	}

	& a {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-top: 16px;
		border: 1px solid rgba(var(--g-color-on-surface), .16);
		font-size: 14px;
		width: fit-content;
		padding: 8px 12px;
		border-radius: 4px;
		background-color: rgba(var(--g-color-on-surface), .08);
		transition-property: all, border-color;
		transition-duration: .2s, 0s;

		@media (hover: hover) {
			&:hover {
				background-color: rgba(var(--g-color-on-surface), .16);
			}
		}

		&:active {
			background-color: rgba(var(--g-color-on-surface), .04);
		}
	}

	& [data-images] {
		gap: 8px;
		width: 100%;
		aspect-ratio: 16 / 9;
		border-radius: 4px;
		position: relative;

		> img {
			border-radius: 4px;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			box-shadow: 0 4px 8px rgba(0, 0, 0, .25);

			&:not([data-selected]) {
				display: none;
			}
		}
	}

	& [data-images-indicator] {
		display: flex;
		height: 32px;
		margin-top: 16px;
		align-items: center;
		justify-content: center;
		gap: 8px;

		> button {
			border-radius: 4px;
			border: none;
			height: inherit;
			position: relative;
			transition-duration: .2s;

			&[data-selected] {
				> img {
					translate: 0 -8px;
				}

				&::after {
					opacity: 1;
					width: 80%;
				}
			}

			@media (hover: hover) {
				&:hover {
					cursor: pointer;

					&::after {
						opacity: 1;
					}

					> img {
						translate: 0 -8px;
					}
				}
			}

			&:focus-visible {
				&::after {
					opacity: 1;
				}

				> img {
					translate: 0 -8px;
				}
			}

			&:active {
				&::after {
					opacity: 1;
					width: 80%;
				}

				> img {
					translate: 0 -8px;
				}
			}

			&::after {
				opacity: 0;
				content: '';
				position: absolute;
				width: 32%;
				height: 2px;
				bottom: 0px;
				left: 50%;
				translate: -50% 0;
				border-radius: 2px;
				background-color: rgb(var(--g-color-accent));
				transition-duration: .2s;
				pointer-events: none;
			}
		}

		& img {
			border-radius: inherit;
			height: inherit;
			aspect-ratio: 16 / 9;
			transition-duration: .2s;
			box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
		}
	}

	& [data-description] {
		margin-top: 16px;

		> p {
			text-align: justify;

			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}
}