:root[data-theme=light] [data-theme]:not([data-theme=light]) {
	display: none;
}

:root[data-theme=dark] [data-theme]:not([data-theme=dark]) {
	display: none;
}

:root[data-theme=system] [data-theme]{
	@media (prefers-color-scheme: dark) {
		&:not([data-theme=dark]) {
			display: none;
		}
	}
	@media (prefers-color-scheme: light) {
		&:not([data-theme=light]) {
			display: none;
		}
	}
}