@use './units' as u;

header {
	padding: u.Rem(64px);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: u.Rem(32px);

	@media (max-width: u.Rem(720px)) {
		flex-direction: column;
		padding: u.Rem(32px);
	}

	> button {
		border: none;
		outline: u.Rem(2px) solid transparent;
		cursor: pointer;
		display: block;
		width: min(80%, u.Rem(256px));
		transition-duration: var(--g-duration-transition);
		border-radius: 50%;

		&:hover {
			outline-color: rgb(var(--g-color-accent));
			outline-offset: u.Rem(16px);
		}

		&:active {
			scale: .9;
		}

		> img {
			width: 100%;
			display: block;
			aspect-ratio: 1;
			border-radius: 50%;
			object-fit: cover;
			box-shadow: var(--g-elevation2);

			&[hidden] {
				display: none;
			}
		}
	}
}

.h-actions {
	display: flex;
	align-items: center;
	gap: u.Rem(16px);
	margin-top: u.Rem(16px);

	> a {
		&:first-child {
			background-color: rgb(var(--g-color-accent));
			padding: u.Rem(4px) u.Rem(20px);
			min-height: u.Rem(36px);
			font-weight: 600;
			justify-content: center;
			font-size: u.Rem(14px);
			color: rgb(var(--g-color-on-accent));
			border-radius: u.Rem(999px);
			display: flex;
			align-items: center;
			width: u.Rem(120px);
			overflow: hidden;
			position: relative;
			transition-duration: var(--g-duration-transition);

			@media (hover: hover) {
				&:is(:hover,:focus-visible) {
					width: u.Rem(190px);

					> [data-state=false] {opacity: 0}
					> [data-state=true] {opacity: 1}
				}

				&:active {
					width: u.Rem(190px);
					scale: .9;

					> [data-state=false] {opacity: 0}
					> [data-state=true] {opacity: 1}
				}
			}

			@media (hover: none) {
				&:active {
					scale: .9;
				}
			}

			> [data-state] {
				position: absolute;
				display: inline-block;
				transition-duration: var(--g-duration-transition);
				left: 50%;
				top: 50%;
				white-space: nowrap;
				transform: translate(-50%, -50%);
			}

			> [data-state=true] {
				opacity: 0;
			}
		}

		&:not(:first-child) {
			transition-duration: var(--g-duration-transition);

			&:hover {
				scale: 1.15;
			}

			&:active {
				scale: 0.85;
			}

			> img {
				width: u.Rem(24px);
			}
		}
	}
}

.h-header {
	> h1 {
		font-size: u.Rem(64px);

		@media (max-width: u.Rem(880px)) {
			font-size: u.Rem(48px);
		}

		@media (max-width: u.Rem(720px)) {
			font-size: 11vw;
		}
	}

	> p {
		margin-top: u.Rem(16px);

		> a {
			display: inline-block;
			text-decoration: underline;
			text-underline-offset: .4em;
			text-decoration-color: rgb(var(--g-color-accent));
			transition-duration: var(--g-duration-transition);

			&:hover {
				color: rgb(var(--g-color-accent));
			}

			&:active {
				text-underline-offset: .8em;
			}
		}
	}
}

.h-skills {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: u.Rem(8px);
	margin-top: u.Rem(16px);
	position: relative;
	list-style: none;

	& img {
		display: block;
		width: u.Rem(32px);
		aspect-ratio: 1;
	}
}