@use './units' as u;

* {
    background-color: transparent;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
    outline-offset: u.Rem(4px);
    transition-timing-function: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

button, button * {
    user-select: none;
    text-decoration: none;
    -webkit-user-select: none;
}

a, a * {
    text-decoration: none;
}

img {
    display: block;
}