@use './units' as u;

main {
	padding: u.Rem(64px);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;

	@media (max-width: u.Rem(720px)) {
		padding: u.Rem(32px);
	}

	> div[role=tabpanel] {
		margin-top: u.Rem(16px);
		max-width: 100%;
		min-height: calc(100dvh - u.Rem(136px));

		> h2 {
			font-size: u.Rem(32px);
			font-weight: 500;
			text-align: center;
		}

		> p {
			margin-top: u.Rem(8px);
			text-align: center;
		}
	}
}

.m-card {
	display: block;
	flex: 1 1 u.Rem(256px);
	border-radius: u.Rem(8px);
	padding: u.Rem(20px);
	background-color: rgba(var(--g-color-surface), var(--g-opacity-inv3));
	border: u.Rem(2px) solid rgba(var(--g-color-on-surface), var(--g-opacity5));
	border-bottom-color: rgb(var(--g-color-accent));
	transition-duration: var(--g-duration-transition);

	&:has( > a) {
		padding: 0;

		// keep it here. So it won't cause problem for older browser
		> a {
			display: block;
			padding: u.Rem(20px);
		}
	}

	&:has( > a:hover) {
		border-color: rgb(var(--g-color-accent));
	}

	&:has( > a:focus-visible) {
		outline: auto;
	}

	&:has( > a:active) {
		border-color: rgb(var(--g-color-accent));
		scale: .9;
	}

	& h3 {
		margin: u.Rem(8px) 0;
		font-size: 1.5rem;
		text-transform: capitalize;
		font-weight: normal;
		text-decoration: underline;
		text-underline-offset: .2em;
		color: rgb(var(--g-color-accent));
	}

	& p {
		font-size: 1.25rem;
	}

	& ul {
		list-style: none;
		display: flex;
		gap: 0.5rem;
		flex-wrap: wrap;
		margin-top: u.Rem(8px);

		> li {
			display: flex;
			align-items: center;
			font-size: 1.25rem;

			&:not(:last-of-type) {
				&::after {
					content: ',';
					font-size: 1.25rem;
				}
			}

			> img {
				width: 1.25rem;
				display: inline;
				margin-right: .4em;
				vertical-align: text-top;
			}
		}
	}

	& ol {
		font-size: 1.25rem;
		list-style: none;

		& ul {
			margin-top: 0;
			display: block;
			list-style: disc;
			margin-left: 1.5em;

			> li {
				display: list-item;
				margin-top: 0;
				font-size: 1rem;
				color: rgba(var(--g-color-on-surface),var(--g-opacity-inv3));

				&::after {
					display: none;
				}
			}
		}
	}
}

.m-contact-list {
	> .m-card {
		flex: 1 1 u.Rem(192px);
	}
}

.m-exp-info {
	&:hover {
		> svg {
			outline: auto;
		}

		> span {
			display: block;
			opacity: 1;
			translate: 0 u.Rem(-16px);
		}
	}

	&:focus-visible {
		> svg {
			outline: auto;
		}

		> span {
			display: block;
			opacity: 1;
			translate: 0 u.Rem(-16px);
		}
	}

	> svg {
		border-radius: 999px;
	}

	> span {
		display: none;
		position: absolute;
		font-size: u.Rem(14px);
		background-color: rgb(var(--g-color-surface));
		border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity5));
		border-radius: u.Rem(4px);
		padding: u.Rem(6px) u.Rem(12px);
		color: rgb(var(--g-color-on-surface));
		bottom: 3em;
		text-transform: none;
		white-space: nowrap;
		box-shadow: var(--g-elevation2);
		transition-duration: var(--g-duration-transition);
		transition-behavior: allow-discrete;
		opacity: 0;
		translate: 0 0;
	}
}

@starting-style {
	.m-exp-info{
		&:hover > span {
			opacity: 0;
			translate: 0 0;
		}

		&:focus-visible > span {
			opacity: 0;
			translate: 0 0;
		}
	}
}

.m-works-dialog-description {
	> p {
		text-align: justify;

		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	& ul {
		margin-left: 1.2em;

		&:not(:last-child) {
			margin-bottom: 1em;
		}

		& span[lang] {
			vertical-align: top;
		}
	}
}

.m-works-dialog-images > div > img {
	width: 100%;
	aspect-ratio: 16 / 9;
	border-radius: u.Rem(8px);
	box-shadow: var(--g-elevation2);
}

.m-works-dialog-images-indicator {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: u.Rem(8px);
	margin-top: u.Rem(16px);
	margin-bottom: u.Rem(32px);

	> button {
		width: u.Rem(64px);
		border: none;
		border-radius: u.Rem(4px);
		position: relative;
		transition-duration: var(--g-duration-transition);

		&[aria-selected=true] {
			> img {
				translate: 0 u.Rem(-8px);
			}

			&::after {
				opacity: 1;
				width: 72%;
			}
		}

		@media (hover: hover) {
			&:hover {
				cursor: pointer;

				&::after {
					opacity: 1;
				}

				> img {
					translate: 0 u.Rem(-8px);
				}
			}
		}

		&:focus-visible {
			&::after {
				opacity: 1;
			}

			> img {
				translate: 0 u.Rem(-8px);
			}
		}

		&:active {
			&::after {
				opacity: 1;
				width: calc(100% - u.Rem(8px));
			}

			> img {
				translate: 0 u.Rem(-8px);
			}
		}

		&::after {
			opacity: 0;
			content: '';
			position: absolute;
			width: 32%;
			height: u.Rem(2px);
			bottom: u.Rem(0px);
			left: 50%;
			translate: -50% 0;
			border-radius: u.Rem(2px);
			background-color: rgb(var(--g-color-accent));
			transition-duration: var(--g-duration-transition);
			pointer-events: none;
		}

		> img {
			border-radius: inherit;
			width: 100%;
			aspect-ratio: 16 / 9;
			transition-duration: var(--g-duration-transition);
			box-shadow: var(--g-elevation2);
		}
	}
}

.m-works-dialog-tags {
	list-style: none;
	padding: u.Rem(16px) 0;

	> li {
		display: inline;
		margin: 1ch 1ch 0 0;
		border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity-inv3));
		padding: .2em .6em;
		border-radius: u.Rem(4px);
	}
}

.m-card-group {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: u.Rem(16px);
	gap: u.Rem(8px);
	width: u.Rem(1080px);
	max-width: 100%;
}

.m-works-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(u.Rem(256px), 1fr));
	gap: u.Rem(24px);
	width: u.Rem(1080px);
	max-width: 100%;
	margin-top: u.Rem(16px);
	list-style: none;

	& button {
		border: none;
		position: relative;
		border-radius: u.Rem(8px);
		outline-offset: 0;
		outline: u.Rem(2px) solid transparent;
		transition-duration: var(--g-duration-transition);

		@media (hover: hover) {
			&:hover {
				outline-offset: u.Rem(8px);
				outline-color: rgb(var(--g-color-accent));
				cursor: pointer;
			}
		}

		&:focus-visible {
			outline-offset: u.Rem(8px);
			outline: auto;
		}

		&:active {
			scale: .9;
			outline-offset: 0;
			outline-color: transparent;
		}

		> img {
			width: 100%;
			aspect-ratio: 16 / 9;
			object-fit: cover;
			box-shadow: var(--g-elevation2);
			border-radius: u.Rem(8px);
		}

		> h3 {
			position: absolute;
			background-color: rgb(var(--g-color-surface));
			padding: .3em .8em;
			border-radius: u.Rem(4px);
			top: u.Rem(8px);
			left: u.Rem(8px);
			font-weight: normal;
			font-size: u.Rem(14px);
			font-weight: 500;
			box-shadow: var(--g-elevation2);
		}
	}
}

#m-works-dialog-id {
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	max-width: min(u.Rem(720px), calc(100% - u.Rem(64px)));
	width: u.Rem(720px);
	border-radius: u.Rem(8px);
	max-height: calc(100dvh - u.Rem(64px));
	outline: none;
	background-color: rgb(var(--g-color-surface));
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface), .12);
	position: fixed;
	box-shadow: 0 u.Rem(16px) u.Rem(24px) rgba(0, 0, 0, .25);
	overflow: hidden;
	transition-duration: var(--g-duration-transition);

	@media (max-width: u.Rem(500px)) {
		max-width: 100%;
		max-height: 100dvh;
		border: none;
		width: 100%;
		height: 100dvh;
		border-radius: u.Rem(0px);
	}

	body:has( &[open]) {
		overflow: hidden;
	}

	&:not([open]) {
		top: -100%;
		visibility: hidden;
	}

	> div {
		position: relative;
		max-height: inherit;
		max-width: 100%;
		overflow: auto;
		width: 100%;
		border-radius: inherit;
		padding: u.Rem(32px);

		> h2 {
			font-size: u.Rem(24px);
			font-weight: 500;
		}

		> a {
			color: rgb(var(--g-color-accent));
			padding: .1em 0;
			margin-bottom: u.Rem(8px);
			display: block;
			width: fit-content;
			border-bottom: 1px solid rgb(var(--g-color-accent));
			transition-duration: var(--g-duration-transition);

			@media (hover: hover) {
				&:hover {
					padding: .1em .4em;
					border-radius: u.Rem(2px);
					background-color: rgb(var(--g-color-accent));
					color: rgb(var(--g-color-on-accent));
				}
			}

			&:focus-visible {
				padding: .1em .4em;
				background-color: rgb(var(--g-color-accent));
				color: rgb(var(--g-color-on-accent));
			}
		}
	}
}

#m-works-dialog-close-id {
	min-height: u.Rem(36px);
	max-height: u.Rem(36px);
	min-width: u.Rem(36px);
	max-width: u.Rem(36px);
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface-dark), .08);
	background-color: rgba(var(--g-color-surface-dark), .64);
	backdrop-filter: blur(u.Rem(32px));
	justify-content: center;
	align-items: center;
	border-radius: u.Rem(4px);
	display: flex;
	position: absolute;
	right: u.Rem(40px);
	top: u.Rem(40px);
	z-index: 8;

	@media (hover: hover) {
		&:hover {
			cursor: pointer;

			> svg {
				fill: rgb(var(--g-color-accent-dark));
				scale: 130%;
			}
		}
	}

	&:active > svg {
		fill: rgb(var(--g-color-accent-dark));
		scale: 85%;
	}

	> svg {
		transition-duration: var(--g-duration-transition);
	}
}

#m-tabs-id {
	--selected-index: 0;
	--count-item: 3;
	--padding: #{u.Rem(4px)};
	--gap: #{u.Rem(4px)};
	--button-width: calc(
		(
			100%
			- (var(--gap) * (var(--count-item) - 1))
			- (var(--padding) * 2)
		)
		/ var(--count-item)
	);
	display: grid;
	grid-template-columns: repeat(var(--count-item), 1fr);
	background-color: rgba(var(--g-color-surface), var(--g-opacity-inv3));
	gap: var(--gap);
	box-shadow: var(--g-elevation2);
	backdrop-filter: blur(16px);
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity3));
	padding: var(--padding);
	border-radius: u.Rem(999px);
	position: relative;

	> div {
		position: absolute;
		border-radius: u.Rem(999px);
		background-color: rgb(var(--g-color-accent));
		width: var(--button-width);
		height: calc(100% - var(--padding) * 2);
		z-index: 1;
		left: calc(
			var(--padding)
			+ (var(--selected-index) * var(--button-width))
			+ (var(--selected-index) * var(--gap))
		);
		top: var(--padding);
		transition-duration: var(--g-duration-transition);
	}

	> button {
		z-index: 2;
		padding: u.Rem(8px) u.Rem(16px);
		min-height: u.Rem(36px);
		border-radius: u.Rem(20px);
		border: none;
		font-size: u.Rem(14px);
		font-weight: 600;
		transition-duration: var(--g-duration-transition);
		cursor: pointer;

		&[aria-selected=true] {
			color: rgb(var(--g-color-on-accent));
		}

		&:hover {
			&:not([aria-selected=true]) {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity3));
			}
		}

		&:active {
			scale: .85;

			&:not([aria-selected=true]) {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity3));
			}
		}
	}
}