.c-modal {
	position: fixed;
	background-color: rgb(var(--g-color-surface));
	border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity3));
	box-sizing: content-box;
	border-radius: 12px;
	left: 0;
	max-height: calc(100dvh - 16px);
	max-width: calc(100% - 16px);
	opacity: 1;
	width: max-content;
	outline: none;
	overflow: hidden;
	top: 0;
	box-shadow: var(--g-elevation3);

	:root[data-corner=sharp] & {
		border-radius: 0
	}

	:root[data-corner=semi-round] & {
		border-radius: 8px
	}

	:root[data-corner=full-round] & {
		border-radius: 20px
	}

	:root[data-theme=dark] & {
		border: 1px solid rgba(0, 0, 0, var(--g-opacity-inv5));
		background-color: rgb(46, 46, 46);
	}

	:root[data-theme=system] & {
		@media (prefers-color-scheme: dark) {
			border: 1px solid rgba(0, 0, 0, var(--g-opacity-inv5));
			background-color: rgb(46, 46, 46);
		}
	}

	&::backdrop {
		background-color: transparent;
	}

	> div {
		position: relative;
		max-height: inherit;
		max-width: 100%;
		overflow: auto;
		width: 100%;
		border-radius: inherit;
	}
}