@use '../../_styles/_units.scss' as u;

.header {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	z-index: var(--z-index-top-info);

	& * {
		font-size: u.Rem(14px);
		font-weight: bold;
		white-space: nowrap;
	}

	> * {
		position: absolute;
	}

	> button {
		border: none;
		cursor: pointer;
		transition-duration: .25s;

		&:hover {
			color: #ffa500;
		}
	}
}

.iconLeft {
	left: calc(u.Rem(8px) + env(safe-area-inset-left));
	top: calc(u.Rem(8px) + env(safe-area-inset-top));
	min-width: u.Rem(24px);
	max-width: u.Rem(24px);
	max-height: u.Rem(24px);
	min-height: u.Rem(24px);
	background-color: #202020;
	clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.iconRight {
	right: calc(u.Rem(8px) + env(safe-area-inset-right));
	top: calc(u.Rem(8px) + env(safe-area-inset-top));
	width: u.Rem(24px);
	animation: rotate-forever 3s infinite linear;
}

@keyframes rotate-forever {
	to {
		rotate: 360deg;
	}
}

.idleMode {
	right: calc(u.Rem(24px + 18px) + env(safe-area-inset-right));
	top: calc(u.Rem(10px) + env(safe-area-inset-top));
	background-color: #ffffffcc;
	backdrop-filter: blur(u.Rem(8px));
	padding: .1em .4em;
}

.profileName {
	padding: .4em .1em;
	left: calc(u.Rem(10px) + env(safe-area-inset-left));
	top: calc(u.Rem(24px + 16px) + env(safe-area-inset-top));
	writing-mode: vertical-lr;
	rotate: 180deg;
	background-color: #ffffffcc;
	backdrop-filter: blur(u.Rem(8px));
}

.stopwatchPageScroll {
	padding: .1em .4em;
	left: calc(u.Rem(24px + 18px) + env(safe-area-inset-left));
	top: calc(u.Rem(10px) + env(safe-area-inset-top));
	background-color: #ffffffcc;
	backdrop-filter: blur(u.Rem(8px));
}

.version {
	padding: .4em .1em;
	right: calc(u.Rem(10px) + env(safe-area-inset-right));
	top: calc(u.Rem(24px + 16px) + env(safe-area-inset-top));
	writing-mode: vertical-lr;
	background-color: #ffffffcc;
	backdrop-filter: blur(u.Rem(8px));
}