---
import { Ids } from "../../_scripts/shared/ids";
import CSS from './index.module.scss'
---

<nav class={CSS.navigation}>
	<ul>
		<li><a href={'#' + Ids.page_about} data-css-selected="false">
			<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M24 8.90082C24 9.07943 23.9047 9.24448 23.7501 9.3338L19.9941 11.5029L12.2578 15.969C12.1031 16.0583 11.9125 16.0583 11.7578 15.969L0.250002 9.325C0.0953002 9.23568 0 9.07062 0 8.89199V6.5C0 6.22386 0.223858 6 0.5 6H2.32989C2.41766 6 2.50388 6.0231 2.57989 6.06699L11.7451 11.3586C11.8998 11.4479 12.0904 11.4479 12.2451 11.3586L21.4094 6.067C21.4854 6.02311 21.5716 6 21.6594 6H23.5C23.7761 6 24 6.22386 24 6.5V8.90082Z"/>
				<path d="M11.9939 18.5022C11.9946 18.5026 11.9955 18.5025 11.9961 18.5019C11.9967 18.5014 11.9976 18.5013 11.9983 18.5017L15.2463 20.3775C15.5796 20.57 15.5795 21.0511 15.2463 21.2435L12.3201 22.933C12.2441 22.9769 12.1579 23 12.0701 23H11.9455C11.8577 23 11.7715 22.9769 11.6955 22.933L8.75463 21.2347C8.42136 21.0423 8.42135 20.5612 8.7546 20.3688L11.9881 18.5012C11.9894 18.5005 11.991 18.5005 11.9923 18.5013L11.9939 18.5022ZM21 17.6333C21 17.8119 20.9047 17.9769 20.7501 18.0662L19.9941 18.5029L18.3115 19.4739C18.1568 19.5632 17.9662 19.5631 17.8116 19.4738L14.8124 17.7417C14.4791 17.5492 14.4791 17.0681 14.8124 16.8757L20.25 13.7367C20.5834 13.5442 21 13.7848 21 14.1697V17.6333ZM9.17485 16.8737C9.50817 17.0661 9.50818 17.5472 9.17487 17.7397L6.18847 19.4641C6.03377 19.5534 5.84318 19.5534 5.68847 19.4641L3.25003 18.0564C3.09531 17.9671 3 17.8021 3 17.6234V14.1746C3 13.7897 3.41667 13.5492 3.75 13.7416L9.17485 16.8737Z"/>
				<path d="M17.5 1C17.7761 1 18 1.22386 18 1.5V5.15918C18 5.33579 17.9068 5.49981 17.7549 5.58984L12.2549 8.84863C12.0977 8.94177 11.9023 8.94177 11.7451 8.84863L6.24512 5.58984C6.09318 5.49981 6 5.33579 6 5.15918V1.5C6 1.22386 6.22386 1 6.5 1H17.5Z"/>
			</svg>
			About
		</a></li>
		<li><a href={'#' + Ids.page_projects} data-css-selected="false">
			<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.42664 12.12C6.23168 12.439 5.76832 12.439 5.57336 12.12L0.464888 3.76066C0.261281 3.42748 0.501064 2.99993 0.891529 2.99993L11.1085 2.99993C11.4989 2.99993 11.7387 3.42748 11.5351 3.76066L6.42664 12.12Z"/>
				<path d="M12.4266 21.9383C12.2317 22.2574 11.7683 22.2574 11.5734 21.9383L6.46489 13.579C6.26128 13.2458 6.50106 12.8183 6.89153 12.8183L17.1085 12.8183C17.4989 12.8183 17.7387 13.2458 17.5351 13.579L12.4266 21.9383Z"/>
				<path d="M18.4266 12.12C18.2317 12.439 17.7683 12.439 17.5734 12.12L12.4649 3.76066C12.2613 3.42748 12.5011 2.99993 12.8915 2.99993L23.1085 2.99993C23.4989 2.99993 23.7387 3.42748 23.5351 3.76066L18.4266 12.12Z"/>
			</svg>
			Projects
		</a></li>
		<li><a href={'#' + Ids.page_contact} data-css-selected="false">
			<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M21.0981 20.8263C21.2565 20.9178 21.3488 21.1172 21.2194 21.2466L19.051 23.415C18.8379 23.6281 18.4924 23.6282 18.2793 23.415L12.7619 17.8977C12.6444 17.7802 12.5723 17.605 12.6649 17.4671C12.6838 17.4389 12.7057 17.4122 12.7307 17.3872L13.3177 16.8002C13.4924 16.6255 13.7626 16.5899 13.9765 16.7135L21.0981 20.8263ZM3.87364 10.4306C3.98584 10.5428 4.00025 10.7175 4.00025 10.8762V14.5747C4.00025 14.7193 4.05756 14.8584 4.15976 14.9607L9.03838 19.8393C9.14072 19.9417 9.28035 19.9995 9.42508 19.9995H13.2534C13.3557 19.9995 13.4623 20.0192 13.5346 20.0915L16.4975 23.0544C16.8413 23.3982 16.5978 23.986 16.1116 23.986H13.1961C13.1922 23.9864 13.1904 23.9913 13.1933 23.9943C13.1962 23.9973 13.1941 24.0018 13.1899 24.0019L9.73928 23.986L7.59521 23.986C7.59032 23.986 7.58563 23.984 7.58217 23.9806L7.57944 23.9778C7.57801 23.9764 7.57589 23.9757 7.57445 23.9742L0.0469409 16.4467C0.0336056 16.4334 0.0257926 16.4152 0.0255343 16.3963L0.0250489 16.355C0.0249175 16.3439 0.0204201 16.3332 0.012518 16.3253C0.00449294 16.3173 -1.54353e-05 16.3064 -1.54564e-05 16.295L-1.55091e-05 7.87432C-1.53405e-05 7.38816 0.587777 7.14469 0.931547 7.48846L3.87364 10.4306ZM2.69859 2.85425C2.72022 2.83262 2.74323 2.81325 2.76732 2.79612C2.93019 2.68028 3.13299 2.80385 3.23292 2.97694L7.30225 10.0253C7.42574 10.2392 7.39017 10.5094 7.21553 10.6841L6.5566 11.343C6.44494 11.4547 6.26745 11.4032 6.15579 11.2916L0.594391 5.73018C0.381284 5.51707 0.381284 5.17156 0.594391 4.95845L2.69859 2.85425ZM0.00965205 5.53905C0.0103952 5.53905 0.0112381 5.54022 0.0107128 5.54075L0.00193783 5.54952C0.00121695 5.55024 -1.55847e-05 5.54973 -1.54248e-05 5.54871C-1.55189e-05 5.54333 0.00427242 5.53906 0.00965205 5.53905Z"/>
				<path d="M20.8915 2.72362C21.0799 2.77409 21.2269 2.92119 21.2774 3.10951L23.9815 13.203C24.032 13.3913 23.9781 13.5922 23.8403 13.7301L21.4045 16.1659C21.3022 16.2682 21.1634 16.3257 21.0187 16.3257H18.0387C17.5525 16.3257 17.309 15.7379 17.6528 15.3941L20.2729 12.774C20.4108 12.6362 20.4646 12.4353 20.4142 12.247L18.6661 5.72086C18.6156 5.53253 18.4685 5.38542 18.2802 5.33495L11.7531 3.58594C11.5648 3.53548 11.3639 3.58932 11.226 3.72718L8.62254 6.33064C8.27877 6.67441 7.69098 6.43094 7.69098 5.94478V2.9648C7.69098 2.82008 7.74847 2.68128 7.85081 2.57894L10.27 0.159798C10.4078 0.021938 10.6087 -0.0319005 10.7971 0.0185642L20.8915 2.72362Z"/>
				<path d="M15.7767 7.83744C15.965 7.88787 16.1122 8.03495 16.1626 8.22326L17.434 12.966C17.4845 13.1544 17.4306 13.3555 17.2926 13.4933L15.3723 15.4122C15.1976 15.5867 14.9275 15.6222 14.7137 15.4987L14.0008 15.0871C13.69 14.9077 13.6341 14.4823 13.8879 14.2286L15.1873 12.9298C15.3252 12.792 15.3791 12.591 15.3286 12.4026L14.6216 9.76424C14.5711 9.57595 14.4241 9.42887 14.2358 9.3784L11.5982 8.6714C11.4099 8.62093 11.209 8.67473 11.0711 8.81253L9.81744 10.0656C9.56366 10.3193 9.13835 10.2632 8.95902 9.95239L8.54712 9.23857C8.4237 9.02468 8.45929 8.75458 8.6339 8.57996L10.5058 6.7081C10.6436 6.57026 10.8445 6.51642 11.0328 6.56685L15.7767 7.83744Z"/>
				<path d="M10.1784 11.1481C10.3162 11.0102 10.5171 10.9564 10.7055 11.0068L12.2052 11.4087C12.3935 11.4592 12.5406 11.6062 12.5911 11.7946L12.9929 13.2943C13.0434 13.4826 12.9896 13.6836 12.8517 13.8214L11.7538 14.9193C11.616 15.0572 11.415 15.111 11.2267 15.0606L9.72694 14.6587C9.53863 14.6082 9.39153 14.4612 9.34108 14.2728L8.93921 12.7731C8.88876 12.5848 8.94259 12.3838 9.08045 12.246L10.1784 11.1481Z"/>
			</svg>
			Contact
		</a></li>
	</ul>
</nav>