@use '../../_styles/units' as u;

.content {
	padding: u.Rem(32px);
	width: u.Rem(1080px);
	max-width: calc(100% - u.Rem(76px));
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	list-style: none;
	position: relative;
	margin-top: u.Rem(32px);
	margin-bottom: u.Rem(64px);
	gap: u.Rem(16px);

	@media (max-width: u.Rem(700px)) {
		grid-template-columns: 1fr;
		margin-bottom: 0px;
	}

	> li {
		&:first-child {
			position: absolute;
			left: calc(50% + u.Rem(8px));
			top: 0;
			background-color: #ffff00;
			font-weight: bold;
			font-size: u.Rem(20px);
			padding: .5em 1em;
			width: calc(50% - u.Rem(48px));

			@media (max-width: u.Rem(700px)) {
				display: none;
			}
		}

		&:not(:first-child):nth-child(odd) {
			translate: 0 u.Rem(56px);

			@media (max-width: u.Rem(700px)) {
				translate: 0 0;
			}
		}
	}

	& button {
		display: block;
		position: relative;
		border-radius: 0px;
		border: none;
		padding: 0;
		cursor: pointer;
		background-color: transparent;
		outline-offset: u.Rem(4px);

		&:is(:hover,:focus-visible) {
			& svg {
				scale: 1.25;
			}

			& img {
				scale: 1.05;
			}

			& path:last-child {
				rotate: 180deg;
			}

			&::after {
				scale: 1.2;
				translate: u.Rem(-4px) u.Rem(4px);
			}
		}

		&::after {
			position: absolute;
			content: '';
			min-width: u.Rem(24px);
			min-height: u.Rem(24px);
			max-width: u.Rem(24px);
			max-height: u.Rem(24px);
			background-color: #202020;
			bottom: 0px;
			left: 0px;
			z-index: 3;
			transition-duration: .25s;
			clip-path: polygon(0% 0%, 25% 0%, 100% 80%, 100% 100%, 80% 100%, 0% 20%);
		}
	}

	& [data-css-image] {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%,
			u.Rem(40px) 100%,
			0% calc(100% - u.Rem(40px))
		);

		> img {
			width: 100%;
			aspect-ratio: 16 / 9;
			object-fit: cover;
			display: block;
			transition-duration: .25s;
		}
	}

	& p {
		position: absolute;
		right: u.Rem(8px);
		bottom: u.Rem(8px);
		background-color: #202020;
		color: #fff;
		display: flex;
		justify-content: space-between;
		gap: u.Rem(16px);
		text-transform: uppercase;
		padding-left: u.Rem(16px);
		align-items: center;
		max-width: calc(100% - u.Rem(40px + 32px));

		> strong {
			display: inline-block;
			flex: 1;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		> span {
			display: inline-block;
			background-color: #ffff00;
			min-height: u.Rem(40px);
			max-height: u.Rem(40px);
			min-width: u.Rem(40px);
			max-width: u.Rem(40px);
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	& svg {
		width: u.Rem(24px);
		transition-duration: .25s;
	}

	& path {
		fill: #202020;
		transition-duration: .25s;
		transform-origin: 40% 40%;
	}
}

.projects {
	width: 100%;
	padding: u.Rem(64px) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.strips {
	background-image: url(../../_assets/images/background-strips.svg);
	background-repeat: repeat;
	background-size: u.Rem(32px);
	height: u.Rem(32px);
	width: 100%;
}

.title {
	display: flex;
	align-items: flex-start;
	gap: u.Rem(16px);

	> svg {
		width: u.Rem(64px);
		height: u.Rem(64px);
	}

	> div {
		margin-top: .6em;
	}
}