[data-page-target="#about"] {
	padding: 32px;

	@media (max-width: 600px) {
		padding: 32px 16px;
	}

	> h2 {
		font-size: 64px;
		max-width: min(100%, 840px);
		text-wrap: balance;

		@media (max-width: 740px) {
			font-size: 8dvw;
		}
	}

	> details {
		padding: 32px;
		border-radius: 4px;
		background-color: rgba(var(--g-color-surface), 0.85);
		max-width: min(100%, 840px);

		@media (max-width: 600px) {
			padding: 16px;
		}

		&:not(:last-child) {
			margin-bottom: 32px;

			@media (max-width: 600px) {
				margin-bottom: 16px;
			}
		}

		&[open] > summary > svg {
			rotate: 180deg;
		}

		> summary {
			list-style: none;
			font-size: 32px;
			font-weight: bold;
			display: flex;
			gap: 16px;
			align-items: center;
			justify-content: space-between;
			user-select: none;
			transition-duration: .2s;

			@media (max-width: 600px) {
				font-size: 24px;
			}

			@media (hover: hover) {
				&:hover {
					cursor: pointer;
					color: rgb(var(--g-color-accent));

					> svg {
						fill: rgb(var(--g-color-accent));
					}
				}
			}

			&:active {
				border-bottom-color: rgb(var(--g-color-accent));
				color: rgb(var(--g-color-accent));
				padding: 0 16px;

				@media (max-width: 600px) {
					padding: 0 8px;
				}

				> svg {
					fill: rgb(var(--g-color-accent));
				}
			}

			> svg {
				transition-duration: .2s;
				min-width: 36px;
				min-height: 36px;
			}
		}

		> div {
			overflow: hidden;
			padding-top: 32px;

			@media (max-width: 600px) {
				padding-top: 16px;
			}

			> p {
				margin: 0;
				padding: 0px;
				border-radius: 0px;
				background-color: transparent;

				&:not(:last-child) {
					margin-bottom: 1em;
				}
			}
		}
	}

	& p {
		font-size: 20px;
		margin: 32px 0;
		max-width: min(100%, 840px);
		text-align: justify;
		border-radius: 4px;
		background-color: rgba(var(--g-color-background), 0.85);

		@media (max-width: 600px) {
			font-size: 16px;
			margin: 16px 0;
		}
	}

	& a {
		display: inline-block;
		position: relative;
		top: 0px;
		transition-duration: .2s;

		@media (hover: hover) {
			&:hover {
				color: rgb(var(--g-color-accent));

				&::after {
					width: 50%;
				}
			}
		}

		&:active {
			color: rgb(var(--g-color-accent));
			top: -0.2em;

			&::after {
				width: 50%;
				top: calc(100% + 0.2em);
			}
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			border-radius: 1px;
			background-color: rgb(var(--g-color-accent));
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			transition-duration: .2s;
		}
	}
}

.mp-about-educations,
.mp-about-works {
	> li {
		font-size: 20px;
		padding: 16px 0;
		color: rgb(var(--g-color-accent));

		@media (max-width: 600px) {
			font-size: 16px;
		}

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}

		&:not(:last-child){
			border-bottom: 1px solid rgba(var(--g-color-on-surface), 0.32);
		}

		> ul {
			color: rgb(var(--g-color-on-surface));
		}
	}
}

.mp-about-skills {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	gap: 8px;

	> li {
		font-size: 20px;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		gap: 8px;
		border-radius: 4px;
		border: 1px solid rgba(var(--g-color-on-surface), 0.32);

		@media (max-width: 600px) {
			font-size: 16px;
		}

		> img {
			width: 24px;
		}
	}
}

.mp-about-socialMedia {
	> li {
		font-size: 20px;
		padding: 16px 0;

		@media (max-width: 600px) {
			font-size: 16px;
		}

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}

		&:not(:last-child){
			border-bottom: 1px solid rgba(var(--g-color-on-surface), 0.32);
		}

		& strong {
			color: rgb(var(--g-color-accent));
			font-size: 24px;
		}

		> a {
			display: flex;
			align-items: center;
			gap: 12px;

			&::after {
				display: none;
			}

			&:active {
				color: rgb(var(--g-color-accent));
				top: 0px;
				gap: 16px;
			}
		}
	}
}