footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 20px;

	> div {
		font-size: 14px;
	}

	> p {
		display: flex;
		align-items: center;
		gap: 16px;
		font-size: 14px;

		> button {
			border: none;
			border-bottom: 2px solid transparent;
			transition-property: all, outline;
			padding: 4px 0;
			transition-duration: .3s, 0s;

			&:hover {
				border-bottom-color: rgb(var(--g-color-accent));
				cursor: pointer;
				padding-right: 8px;
				padding-left: 8px;
			}

			&:active {
				background-color: rgba(var(--g-color-accent), 0.32);
				padding-right: 8px;
				padding-left: 8px;
				border-bottom-color: transparent;
			}
		}
	}
}