header {
	display: none;
	align-items: center;
	justify-content: space-between;
	padding: 8px;

	@media (max-width: 600px) {
		display: flex;
	}

	> div {
		display: flex;
		align-items: center;
		gap: 16px;
		font-size: 24px;
		font-weight: 600;
	}
}