:root {
	--g-color-background:  32,  32,  32;
	--g-color-surface   :  43,  43,  43;
	--g-color-on-surface: 250, 250, 250;
	--g-color-accent    :  30, 216,  84;
	--g-color-on-accent :   0,  57,  15;
	--g-font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	--g-font-family-monospace : ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
	--g-transition-spring       : cubic-bezier(.15, 0, 0, 1);
	--g-transition-spring-bounce: cubic-bezier(.15, 0, 0, 2);

	background-color: rgb(var(--g-color-background));
	color: rgb(var(--g-color-on-surface));
	font-family: var(--g-font-family-sans-serif);
}