:root {
	--g-color-background-light: 243, 243, 243;
	--g-color-background-dark :  32,  32,  32;

	--g-color-surface-light   : 251, 251, 251;
	--g-color-on-surface-light:  31,  31,  31;
	--g-color-surface-dark    :  43,  43,  43;
	--g-color-on-surface-dark : 250, 250, 250;

	--g-color-accent-light   :   0, 110,  32;
	--g-color-on-accent-light: 255, 255, 255;
	--g-color-accent-dark    :   0, 229,  76;
	--g-color-on-accent-dark :   0,  57,  12;

	&[data-color-accent=pink] {
		--g-color-accent-light   : 154,  64,  87;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 255, 177, 192;
		--g-color-on-accent-dark :  95,  17,  42;
	}
	&[data-color-accent=red] {
		--g-color-accent-light   : 192,   0,  31;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 255, 179, 174;
		--g-color-on-accent-dark : 104,   0,  12;
	}
	&[data-color-accent=dark-orange] {
		--g-color-accent-light   : 174,  50,   0;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 255, 181, 158;
		--g-color-on-accent-dark :  94,  23,   0;
	}
	&[data-color-accent=orange] {
		--g-color-accent-light   : 133,  84,   0;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 255, 185,  92;
		--g-color-on-accent-dark :  70,  42,   0;
	}
	&[data-color-accent=yellow] {
		--g-color-accent-light   :  98,  98,   0;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 205, 205,   0;
		--g-color-on-accent-dark :  50,  50,   0;
	}
	&[data-color-accent=green] {
		--g-color-accent-light   :   8, 110, 30;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 128, 219, 125;
		--g-color-on-accent-dark :   0,  57,  10;
	}
	&[data-color-accent=teal] {
		--g-color-accent-light   :   0, 106, 106;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    :  76, 218, 218;
		--g-color-on-accent-dark :   0,  55,  55;
	}
	&[data-color-accent=blue] {
		--g-color-accent-light   :  52,  61, 255;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 190, 194, 255;
		--g-color-on-accent-dark :   0,   1, 172;
	}
	&[data-color-accent=indigo] {
		--g-color-accent-light   : 123,  65, 179;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 221, 183, 255;
		--g-color-on-accent-dark :  74,   0, 128;
	}
	&[data-color-accent=purple] {
		--g-color-accent-light   : 158,  42, 155;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 255, 170, 243;
		--g-color-on-accent-dark :  91,   0,  91;
	}
	&[data-color-accent=brown] {
		--g-color-accent-light   : 173,  48,  47;
		--g-color-on-accent-light: 255, 255, 255;
		--g-color-accent-dark    : 255, 179, 173;
		--g-color-on-accent-dark : 104,   0,  10;
	}

	--g-color-accent    : var(--g-color-accent-light    );
	--g-color-on-accent : var(--g-color-on-accent-light );
	--g-color-background: var(--g-color-background-light);
	--g-color-surface   : var(--g-color-surface-light   );
	--g-color-on-surface: var(--g-color-on-surface-light);

	--g-opacity0: .02;
	--g-opacity1: .04;
	--g-opacity2: .08;
	--g-opacity3: .12;
	--g-opacity4: .16;
	--g-opacity5: .20;
	--g-opacity-inv0  : .92;
	--g-opacity-inv1  : .84;
	--g-opacity-inv2  : .76;
	--g-opacity-inv3  : .68;
	--g-opacity-inv4  : .60;
	--g-opacity-inv5  : .52;
	--g-opacity-border: .32;

	--g-font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	--g-font-family-monospace : ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

	--g-transition-spring       : cubic-bezier(.15, 0, 0, 1);
	--g-transition-spring-bounce: cubic-bezier(.15, 0, 0, 2);

	--g-elevation1: 0px 2px  4px rgba(0, 0, 0, 0.04);
	--g-elevation2: 0px 4px  8px rgba(0, 0, 0, 0.16);
	--g-elevation3: 0px 8px 16px rgba(0, 0, 0, 0.16);
	--g-elevation4: 0px 16px 32px rgba(0, 0, 0, 0.16);
	--g-elevation5: 0px 32px 64px rgba(0, 0, 0, 0.16);

	background-color   : rgb(var(--g-color-background));
	font-family        : var(--g-font-family-sans-serif);
	color              : rgb(var(--g-color-on-surface));
	color-scheme       : light;

	& * {
		color-scheme: inherit;
	}

	&[data-theme="dark"] {
		--g-elevation1: 0px  2px  4px rgba(0, 0, 0, .12);
		--g-elevation2: 0px  4px  8px rgba(0, 0, 0, .28);
		--g-elevation3: 0px  8px 16px rgba(0, 0, 0, .28);
		--g-elevation4: 0px 16px 32px rgba(0, 0, 0, .28);
		--g-elevation5: 0px 32px 64px rgba(0, 0, 0, .28);

		--g-color-background: var(--g-color-background-dark);
		--g-color-accent    : var(--g-color-accent-dark    );
		--g-color-on-accent : var(--g-color-on-accent-dark );
		--g-color-surface   : var(--g-color-surface-dark   );
		--g-color-on-surface: var(--g-color-on-surface-dark);

		color-scheme: dark;
	}

	&[data-theme="system"] {
		@media (prefers-color-scheme: dark) {
			--g-elevation1: 0px  2px  4px rgba(0, 0, 0, .12);
			--g-elevation2: 0px  4px  8px rgba(0, 0, 0, .28);
			--g-elevation3: 0px  8px 16px rgba(0, 0, 0, .28);
			--g-elevation4: 0px 16px 32px rgba(0, 0, 0, .28);
			--g-elevation5: 0px 32px 64px rgba(0, 0, 0, .28);

			--g-color-background: var(--g-color-background-dark);
			--g-color-accent    : var(--g-color-accent-dark    );
			--g-color-on-accent : var(--g-color-on-accent-dark );
			--g-color-surface   : var(--g-color-surface-dark   );
			--g-color-on-surface: var(--g-color-on-surface-dark);

			color-scheme: dark;
		}
	}
}