---
import CSS from './index.module.scss'
---

<footer class={CSS.footer}>
	<p class={CSS.name}>END OF PORTFOLIO</p>
	<p class={CSS.copyright}>&copy; {new Date().getFullYear()} MUHAMMAD SULAIS</p>
</footer>